<div class="container mx-auto px-5">
  <%= render "home/hero" %>
  <%= render "home/features" %>
  <%= render "home/how_it_works" %>
  <%= render "home/testimonial" %>
  <%= render "home/faq" %>
  <%= render "home/pricing" %>
  <%= render "home/footer" %>
</div>
