<div class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <%= render "home/hero" %>
  <%= render "home/features" %>
  <%= render "home/how_it_works" %>
  <%= render "home/testimonial" %>
  <%= render "home/faq" %>
  <%= render "home/pricing" %>
  <%= render "home/footer" %>
</div>
